* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

html {
  width: 100vw;
  overflow-x: hidden;
}

body {
  width: 65vw;
  margin: auto;
  padding-top: 68px;
}

a {
  color: black;
  text-decoration: none;
}

input {
  outline: none;
}
